@model TeachingPlanModel

 <header>
        <h1>Учебный план</h1>
    </header>
    <div class="card">
        <div class="container">
        <div class="accordion mt-5" id="PlanAccordion">
            @await Html.PartialAsync("~/Views/Shared/Components/_teachingPlanAccordionItem.cshtml", Model.BeginnersStudyLevel)
            @await Html.PartialAsync("~/Views/Shared/Components/_teachingPlanAccordionItem.cshtml", Model.MiddleStudyLevel)
            @await Html.PartialAsync("~/Views/Shared/Components/_teachingPlanAccordionItem.cshtml", Model.HighStudyLevel)
            @await Html.PartialAsync("~/Views/Shared/Components/_teachingPlanExtraProgramAccordionItem.cshtml", Model.ExtraPrograms)
        </div>
            <div class="add-button">
                <a asp-action="CreateOrUpdateTariff" asp-route-tariffId="@Model.TariffId" id="save-teachers-info" class="btn btn-outline-danger"><i class="fa-solid fa-arrow-left"></i> Назад</a>
            </div>
        </div>
    </div>


<div class="modal fade" id="addSubjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Введите название предмета</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" value="" class="form-control" id="addSubjectInput">
            </div>
            <div class="modal-footer">
                <button type="button" id="addSubjectBtn" class="btn btn-primary" onclick="addNewSubject()"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addStudyClassModal" tabindex="-1" aria-labelledby="studyClassModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studyClassModalLabel">Введите номер класса</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" value="" class="form-control" id="addStudyClassInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addNewStudyClassBtn"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addExtraSubjectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 500px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="extraModalLabel">Введите названия программы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" value="" class="form-control" placeholder="Полное название" id="addExtraSubjectFullNameInput">
            </div>
            <div class="modal-body">
                <input type="text" value="" class="form-control" placeholder="Короткое название" id="addExtraSubjectShortNameInput">
            </div>
            <div class="modal-footer">
                <button type="button" id="addExtraSubjectBtn" class="btn btn-primary" onclick="addNewExtraSubject()"><i class="fa-regular fa-floppy-disk"></i> Сохранить</button>
            </div>
        </div>
    </div>
</div>