body{
  font-size: 1.5rem;
  background-color: #ecf0f5;
}
h1{
  width: fit-content;
  margin: auto;
}
p{
  margin: 0;
}
.custom-container{
  max-width: 95%;
  margin: auto;
}
.card{
  box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  margin: 0.5rem 10%;
}
.custom-card{
  margin: 0.5rem 2.5%;
}
.add-button{
  float: right;
  margin: 1rem 6rem;
}

#add-new-tariffication{
  padding: 0.5rem;
}

.editable-list{
  width: 100%;
  border: solid 1px #121212;
  margin: 1rem;
}
.editable-list tr{
  border: solid 1px #121212;
}
.editable-list td{
  padding: 1rem 0;
}

.table-pagination{
  display: flex;
  flex-direction: row-reverse;
  margin: 1.5rem 0;
  align-items: center;
}

.pagination-text{
  padding: 0 0.5rem;
}

.pagination-btn{
  border: none;
  background: none;
}
#tariffication-table{
  font-size: 0.75rem;
  border: solid 1px #121212;
  width: 100%;
  margin: 1rem 0;
}

#tariffication-table tr{
  border: solid 1px #121212;
  text-align: center;
}

#tariffication-table th{
  border: solid 1px #121212;
}

#tariffication-table td{
  border: solid 1px #121212;
}

.teacher-name-cell{
  width: 300px;
  height: 100px;
}

.info-buttons-block{
  justify-content: space-around;
}

.btn{
  width: auto;
  margin: 1rem;
}

.modal-dialog{
  max-width: 85%;
}
.teachers-info-table{
  font-size: 1rem;
}

.bool-value{
  transform: rotate(-90deg);
}
.teachers-digits{
  width: 32px;
}

.teachers-text{
  width: 158px;
}
.air-datepicker-global-container{
  z-index: 10000;
}

#TeacherAccordion{
  margin: 1rem 0;
}
.hide{
  display: none;
}
.teacher-info-label{
  text-align: right;
  font-weight: bold;
}
.align-items-center{
  align-items: center;
}

.editSaveButtonsBlock{
  margin: 2rem 0;
}
.teacher-info-row{
  height: 90px;
}

.plan-table{
  font-size: 0.75rem;
  border: solid 1px #121212;
  width: 100%;
  margin: 1rem 0;
}
.plan-table tr{
  border: solid 1px #121212;
  text-align: center;
}
.plan-table th{
  border: solid 1px #121212;
}
.plan-table td{
  border: solid 1px #121212;
}

.study-class-name{
  width: 75px;
  height: 75px;
}
.class-grand-total{
  font-size: 1rem;
}

.class-info-table td{
  height: 150px;
  font-size: 1rem;
}
.class-info-table th{
  font-size: 1rem;
}
.class-teacher-cell{
  width: 280px;
}
.class-subject-hours-cell{
  width: 125px;
}
.class-info-buttons-cell{
  width: 300px;
}

#extra-table td{
  width: 140px;
  height: 200px;
}

.teacher-hour-cell{
  cursor: pointer;
  width:100px;
}
.hours-exceeding{
  color:red;
  font-weight:bold
}

.teacher-accordion-item:nth-child(2){
  border-top: 1px solid rgba(0, 0, 0, .125) !important;
}